.box {
    background-color: blue;
    width: 300px;
    height: 200px;
    /* padding-left: 20px;
padding-top: 10px;
padding-right: 15px;
padding-bottom: 30px; */
    padding: 10px 15px 30px 20px;
    /* margin-left: 20px;
margin-top: 30px;
margin-bottom: 30px;
margin-right:20px; */
    margin: 30px 20px;
    border-width: 2px;
    border-style: groove;
    border-color: chartreuse;


}

/*паддінг - це внутрішній відступ який відсуває батька від дитини, падінг завжди задаємо на батька
марджін це зовнішній відступ яким ми хочемо роззсунути СУСІДІВ, марджіни можемо задати на будь який 
з цих сусідів*/

/* margin-left: 20px;
margin-top: 30px;
margin-bottom: 40px;
margin-right:20px; 
padding: 30px 20px 40px*/

.item {
    width: 200px;
    height: 200px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center ;
    background-color: palevioletred;
    height: 1200px;
    align-content:stretch;
    flex-direction: row-reverse;
    }
    .item:nth-child(3n){
        background-color: green;
    }
    .item:first-child{
        background-color: yellow;
    }