div {
    width: 500px;
    height: 200px;
    outline: solid red;
}

.box1 {
    background-image: linear-gradient(to right bottom, pink, skyblue);
}

.box2{
    background-image: linear-gradient(170deg, green, yellow);
}
.box3{
    background-image: linear-gradient(blue, red);
}
.box4{
    background-image: linear-gradient(to right, #c64f4f 21%, #09792b 21%, #09792b 42%, #00b9ff 42%, #00b9ff 63%  );
}
.box5{
    background-image: repeating-radial-gradient(circle at left top, yellow, pink);
}
.box6{
    height: 200px;
    width: 500px;
    background-image: radial-gradient(ellipse at center, black, pink );
}
.box7{
    background-image: repeating-radial-gradient(circle at center, blue 20px, red 20px, red 40px, blue px), url;
}