 .container{
    width: 1200px;
    height: 1200px;
    background-color: pink;
    position: relative;
 }
 .box1{
    width: 500px;
    height: 350px;
    background-color: cornflowerblue;
 }
.box2{
    width: 500px;
    height: 350px;
    background-color: gold;
    position: absolute;
    left: 450px;
    top: 50px;
    z-index: 2;
 }
 .box3{
    width: 500px;
    height: 350px;
    background-color: lightseagreen;
    position: absolute;
    left: 100px;
    top: 250px;
    z-index: 1;
 }
 .box4{
    width: 500px;
    height: 350px;
    border-radius: 100%;
    background-color: rebeccapurple;
    position: fixed;
    z-index: 3;
    right: 50px;
    bottom: 50px;
 }
