.text::first-letter{
    font-size: 25px;
    font-style: italic ;
    color: cornflowerblue;
}
.text::first-line{
    text-shadow: 2px 3px 5px blueviolet;
}
.text::selection{
    background-color: pink;
    color: skyblue;
}
nav a::after{
content: "";
display: none;
width: 20px;
height:20px;
background-color: aqua;
border-radius: 50%;
margin-top: 5px;
background-size: contain ;
background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png");
}
nav a:hover::after{
    display: inline-flex;

}
nav a{
    display: flex;
    align-items: center;
    gap: 5px;

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}